<div class="con-cajas">
    <div class="cajas">
        <div class="">
            <img src="/img/españadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de España</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/italiadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Italia</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/holandadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Holanda</h2>
        <p>100 €</p>
    </div>

</div>

<div class="con-cajas">
    <div class="cajas">
        <div class="">
            <img src="/img/franciadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Francia</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/inglaterradelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Inglaterra</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/portugaldelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Portugal</h2>
        <p>100 €</p>
    </div>

</div>
<div class="con-cajas">
    <div class="cajas">
        <div class="">
            <img src="/img/argentinadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Argentina</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/brasildelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Brasil</h2>
        <p>100 €</p>
    </div>

    <div class="cajas">
        <div class="">
            <img src="/img/alemaniadelante.jpg" class="card-img-top img-thumbnail" width="455" height="455">
        </div>
        <h2>Camiseta de Alemania</h2>
        <p>100 €</p>
    </div>

</div>